@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-indigo-600 text-white border-2 border-indigo-600 py-3 px-6 rounded cursor-pointer outline-none;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]), textarea {
    @apply w-full max-w-lg mt-2 mb-4 block rounded focus:border-indigo-600 focus:ring focus:ring-indigo-300 focus:ring-opacity-50;
  }

  input[type="file"] {
    @apply text-slate-400 bg-white border border-gray-500 cursor-pointer focus:outline-none file:mr-4 file:py-2 file:px-4 file:border-0 file:bg-gray-500 file:text-white hover:file:bg-gray-600;
  }

  select {
    @apply w-full max-w-lg mt-2 mb-4 block rounded focus:border-indigo-600 focus:ring focus:ring-indigo-300 focus:ring-opacity-50;
  }

  .form-actions {
    @apply flex gap-4 my-4;
  }

  table {
    @apply w-full text-sm text-left mb-4;
  }

  table thead {
    @apply text-xs uppercase bg-slate-200;
  }

  table tbody {
    @apply bg-white;
  }

  table th, table td {
    @apply py-4 px-6;
  }

  table img {
    min-width: 30px;
  }

  .table-responsive {
    @apply overflow-x-auto relative;
  }
}
